.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.error-screen {
  background-color: #1e90ff; /* Blue background */
  height: 100vh; /* Full-screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.nft-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.nft-card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nft-card img {
  max-width: 100%;
  border-radius: 10px;
}

p {
  color: gray;
  font-size: 1.2rem;
}
